:root {
	--primary: rgb(94, 163, 203);
	--secondary: rgb(112, 132, 199);
	--success: rgb(106, 218, 125);
	--info: rgb(88, 202, 234);
	--warning: rgb(247, 184, 75);
	--danger: rgb(250, 137, 107);
	--light: rgb(239, 242, 247);
	--dark: rgb(42, 47, 52);
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);

	// Elements
	--header-bg: rgb(41, 46, 50);
	--footer-bg: rgb(33, 37, 41);
	--sidebar-bg: rgb(36, 41, 45);
}
