.navbar {
	width: 100%;

	height: var(--navbar-height);
	padding: 20px;

	display: flex;
	align-items: center;

	background-color: var(--header-bg);
}

.links {
	display: flex;
	margin-left: auto;
	gap: 20px;
}
